* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 99%;
    overflow: hidden;
    z-index: 10;
}

*{margin:0;padding:0; -webkit-touch-callout: none; -webkit-text-size-adjust: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:100%;}
body{font:14px/1.5 Microsoft YaHei,SimSun, Arial, Helvetica, sans-serif;color:#333; background:#FFF;}
ul{list-style-type:none;}
input,select,textarea{vertical-align:middle; font:14px/1.5 Microsoft YaHei,SimSun, Arial, Helvetica, sans-serif; color:#333; outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{text-decoration:none;color:#333;}
table{border-spacing:0px; border-collapse:collapse;width:100%; border:0px;margin:0;padding:0;}
img{border:0px;}
em{font-style:normal;}
b{ font-weight:normal;}
.clearfix{overflow:hidden;zoom:1;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden;}
/*********************************************/

/*加一下样式*/
.mask{z-index:100;width:100%;height:100%;background:#b2b2b2;position:fixed;left:0;top:0;}
.loading{width:4rem;height:1.4rem;position:fixed;left:50%;top:50%;margin-left:-2rem;margin-top:-.7rem;z-index:101}
.loading p {text-align:center;width:100%;color:#fff;line-height:.8rem}
.spinner {position: relative;width: .9rem;height: .9rem;margin: 0 auto;}
.bubble-1,.bubble-2 {position: absolute;top: 0;width: .5rem;height: .5rem;border-radius: 100%;background-color: #4b9cdb;}
.bubble-2 {top: auto;bottom: 0;}
.loading .spinner {animation: loadingI 2s linear infinite;}
.loading .bubble-1, .loading .bubble-2 {animation: bounce 2s ease-in-out infinite;}
.loading .bubble-2 {animation-delay: -1.0s;}
@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
    0%, 100% {transform: scale(0.0);}
    50% {transform: scale(1.0);}
}

